<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="extension-skeleton-layout">
    <header class="extension-header">
        <div class="container">
            <h2>TYPO3 Extension Skeleton</h2>
        </div>
    </header>

    <main class="extension-content">
        <div class="container">
            <f:render section="Content" />
        </div>
    </main>

    <footer class="extension-footer">
        <div class="container">
            <p>&copy; 2025 Extension Skeleton - TYPO3 v13</p>
        </div>
    </footer>
</div>

</html>
