<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">
    <div class="extension-skeleton">
        <h1>{title}</h1>

        <div class="item-detail">
            <dl class="row">
                <dt class="col-sm-3">ID:</dt>
                <dd class="col-sm-9">{item.id}</dd>

                <dt class="col-sm-3">Title:</dt>
                <dd class="col-sm-9">{item.title}</dd>

                <dt class="col-sm-3">Description:</dt>
                <dd class="col-sm-9">{item.description}</dd>

                <dt class="col-sm-3">Created:</dt>
                <dd class="col-sm-9">
                    <f:format.date format="d.m.Y H:i:s">{item.created}</f:format.date>
                </dd>
            </dl>
        </div>

        <div class="actions mt-4">
            <f:link.action action="index" class="btn btn-secondary">
                &larr; Back to List
            </f:link.action>
        </div>
    </div>
</f:section>

</html>
